@model TVA_Registro_de_Vacunados.Models.Trabajador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTrabajador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidosTrabajador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadTrabajador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarneITrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarneITrabajador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoTrabajador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTrabajador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
